<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Babyhub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/forum.css" />
	<link rel="icon" href="/images/bear.png" type="image/ico" />
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/homepageMan">
				<img class="textlogopic" src="/images/textlogo.png">
			</a>
			<nav class="main">
				<ul>
					<li class="profile" id="profile">
						<span>管理者模式</span>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Menu -->
		<section id="menu">

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="/childEducation3">
							<h3>小孩教育</h3>
							<p>提供小孩教育的知識。</p>
						</a>
					</li>
					<li>
						<a href="/pregnancyKnowledge3">
							<h3>孕期知識</h3>
							<p>孕期知識、胎教等。</p>
						</a>
					</li>
					<li>
						<a href="/forum3">
							<h3>討論區</h3>
							<p>跟媽媽們討論各種知識。</p>
						</a>
					</li>
				</ul>
			</section>
			<!-- Actions -->
			<section>
				<ul class="actions stacked">
					<li>
						<a href="/mlogout" class="button large fit">登出 Logout</a>
					</li>
				</ul>
			</section>
			<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="mailto:10456015@ntub.edu.tw" class="fa-envelope"><span class="label">Email</span></a>
					</li>
					<li><a href="https://github.com/BabyhubNTUB" class="fa-github-square"><span
								class="label">github</span></a></li>
				</ul>
				<p class="copyright">Copyright&copy;NTUB IMD 108509</p>
			</section>

		</section>

		<!-- Main -->
		<div id="main">
			<div class="row">
				<div class="col-md-6 left">
					<img class="piclogo" src="images\logo.png">
				</div>
				<div class="col-md-6 right2" style="background: none">
					<h1>成功</h1><br><br>
					<button style="font-size: 50%; background: rgba(113, 180, 200, 0.3); border-radius: 70px;"><a href="/">回首頁</a></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea' });</script> -->
	<script src="/assets/js/scripts.js"></script>
	<script src="/assets/js/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">

</body>

</html>